<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finns.follow.mapper.FollowMapper">

    <resultMap id="memberMap" type="MemberVO">
        <id property="user_no" column="user_no" />
        <!--        <result property="user_no" column="user_no" />-->
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="birth" column="birth" />
        <result property="mbti_name" column="mbti_name" />
        <result property="img_url" column="img_url" />
        <result property="renew_time" column="renew_time" />
        <result property="following" column="is_following" />
    </resultMap>

    <resultMap id="FollowResultMap" type="com.finns.follow.dto.FollowDTO">
        <id property="user_no" column="user_no"/>
        <id property="to_user_no" column="to_user_no"/>
    </resultMap>

    <!-- Insert a new follow relationship -->
    <insert id="insertFollow">
        INSERT INTO follow_info (user_no, to_user_no)
        VALUES (#{user_no}, #{to_user_no})
    </insert>

    <!-- Delete a follow relationship -->
    <delete id="deleteFollow">
        DELETE FROM follow_info
        WHERE user_no = #{user_no} AND to_user_no = #{to_user_no}
    </delete>

    <!-- 사용자의 팔로잉 목록과 해당하는 유저 정보, viewer의 팔로우 여부를 가져옴 -->
    <select id="selectFollowingByUserNo" resultMap="memberMap">
        SELECT u.user_no, u.username, u.img_url, u.birth, u.mbti_name, u.renew_time,
               EXISTS(SELECT 1 FROM follow_info v WHERE v.user_no = #{viewer_no} AND v.to_user_no = u.user_no) AS is_following
        FROM follow_info f
                 JOIN user u ON f.to_user_no = u.user_no
        WHERE f.user_no = #{user_no}
    </select>

    <!-- 사용자의 팔로워 목록과 해당하는 유저 정보, viewer의 팔로우 여부를 가져옴 -->
    <select id="selectFollowerByUserNo" resultMap="memberMap">
        SELECT u.user_no, u.username, u.img_url, u.birth, u.mbti_name, u.renew_time,
               EXISTS(SELECT 1 FROM follow_info v WHERE v.user_no = #{viewer_no} AND v.to_user_no = u.user_no) AS is_following
        FROM follow_info f
                 JOIN user u ON f.user_no = u.user_no
        WHERE f.to_user_no = #{user_no}
    </select>

    <!-- FollowMapper.xml -->
    <select id="checkFollowExists" resultType="int">
        SELECT COUNT(*) FROM follow_info
        WHERE user_no = #{user_no} AND to_user_no = #{to_user_no}
    </select>

    <select id="countFollowers" resultType="int">
        SELECT COUNT(*) FROM follow_info WHERE to_user_no = #{user_no}
    </select>

    <select id="countFollowing" resultType="int">
        SELECT COUNT(*) FROM follow_info WHERE user_no = #{user_no}
    </select>


</mapper>