<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finns.amountByCategory.mapper.AmountByCategoryMapper">

    <select id="selectAllByUser" resultType="com.finns.amountByCategory.dto.AmountByCategory">
        SELECT category, user_no, amount
        FROM amount_by_category
        WHERE user_no = #{userNo}
        ORDER BY amount DESC
    </select>

    <insert id="upsertByCategoryAndUser" parameterType="com.finns.post.dto.UpdateAmountDTO">
        INSERT INTO amount_by_category (category, user_no, amount)
        VALUES (#{category}, #{userNo}, #{amount})
            ON DUPLICATE KEY UPDATE amount = amount + VALUES(amount)
    </insert>



</mapper>
